
    /*
    *{
    padding: 0px;
    border: 0px;
    margin: 0px;
    }
    */
   

body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 16%, rgba(253,29,29,1) 55%, rgba(252,176,69,1) 90%);
    text-align:center;
    font-family: "kanit", sans-serif;
    color: white;
    
}

header {
        height: 30%;
        background-color: #f0000f;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        padding: 15px;
        }
        
header div.logo {
        display: flex;
        align-items: center;
        }
        
header img {
        height: 80px;
        width: 80px;
        margin: 10px;
        }
        
header h1 {
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: cover;
        margin: 0;
        text-align: center;
        flex-grow: 10px;
        }
#titulo{
    width: 280px;
    height: 50px;
    text-align: center;
}


header nav ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        }
        
header nav a {
         
        padding: 9px;
        color: #fcb045;
        text-decoration: none;
        text-size-adjust: 20px;
        text-decoration: none;
        font-size: 16px;
        width: 10px;
        height: 20px;
        border-radius: 6px;
        }
        
.text h1 {
        color: #ffffff;
        text-align: center;
        padding: 20px;
        text-shadow: -2px 3px 2px black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         }
         


.text p  {
    margin: 20px;
    padding: 35px;
    color: black;
    font-size: 20px;
    text-align: justify;
    text-align-last: center;
    border: 3px solid rgb(251, 248, 248);
    border-radius: 5px;
    font-style: normal;
    font-weight: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


#contImg{
    /*display: inline flex;*/
    margin: 10px;
    padding: 20px;
    border: 3px solid black;
    background-color: #f0000f;
    border-radius: 5px;
    text-align: center;
    word-spacing: 1%;
    line-height: 20px;
    background-color: #fcb045;
    
    /*pruevas text-shadow: 3.5px -1.5px 3px #f0000f;
    font-weight: 3px;
    font-style: normal;
    font-family: serif;*/


    /* opciones 
    text-decoration-line: underline;
    text-decoration: overline blue double 4px
    text-decoration-color:blue;
    text-decoration-style: wavy;
    text-transform: capitalize; */
}
#contImg div{
    margin: 20px;
    border:3px solid #f0000f;
    border-radius: 6px;
}
#contImg img {
    width: 220px;
    height: 190px;
    border-radius: 6px;

}

#contImg div img {
    padding: 20px;
}

#log2 {
    margin: 8px;
    padding: 8px;
    width: 200px;
}

li{
    display:contents;
    margin-right: 10px;
}
   
.formulario {
    padding: 5px;
    border: 3px solid #070707;
    border-radius: 5px;
    margin: 8px;
    color: hsl(10, 30%, 96%);
    place-items: center;
    align-items: center;
    justify-items: center;
    height: 80%;
    background-color: #9B3922;
}
.formulario h3{
    background-color: #f0000f;
    padding: 10px;
    margin: 20px;
    width: auto;
    border-radius: 6px;


}
.formulario input{
    padding: 10px;
    border: 8px solid white;
    border-radius: 3px;
    margin: 10px;
    
}
.formulario img{
    width: 40%;
    height: 30%;
    border: 10px solid  #e4c0b5 ;  
    margin: 10px;
    padding: 15px;

}
.button {
    padding: 20px;
    font-size: large;
    color: #0c00f0;
    border-radius: 7px;
    

}
.video{
    width: 270px;
    height: 190px;
    border: 8px solid  #e4c0b5;
    padding: 15px;
}


footer {
    margin: 10px;
    padding: 10px;
    text-align: center;
    height: 50px;
    background-color:#060606;
    display:flex;
    justify-content:center;
    align-items: center;
}
footer p {
    margin: 10px;
    padding-right: 10px;
}

footer img{
    margin-left: 20px;
    width: 50px;

}